{
  "actor": {
      "account": {
          "name" : "{{ scormcloud_payload.actor.account.name  }}",
          "homePage": "{{ scormcloud_payload.actor.account.homepage }}"
       },
       "objectType": "Agent"
  },
  "verb": {
      "id": "{{ scormcloud_payload.verb.id }}",
      "display": {
          "en-US": "{{ scormcloud_payload.verb.display['en-US'] }}",
          "lab-id": "{{ scormcloud_payload.verb.display['lab-id'] }}"
      }
  },
  "object": {
      "id": "{{ scormcloud_payload.object.id }}",
      "definition": {
          "name": {
              "en-US": "{{ scormcloud_payload.object.definition.name['en-US'] }}"
          }
      },
      "objectType": "Activity"
  },
  "result": {
      "success": {{ scormcloud_payload.result.success }},
      "response": "{{ scormcloud_payload.result.response }}"
  }
}
